extends layout

block content
  .container
    .jumbotron
      .container
        h1 How May I Help You?
        p Lorem ipsum do
        a.btn.btn-primary.btn-lg(href="#") Learn more &raquo;
    .container
      .row
        .col-md-4
          h2 About Us
          p adff as  afs ljljl sdfaoiefw d asd  asdfas
          a.btn.btn-default(href='#') View Details
        .col-md-4
          h2 Service
          p adff as  afs ljljl sdfaoiefw d asd  asdfas
          a.btn.btn-default(href='#') View Details
        .col-md-4
          h2 What
          p adff as  afs ljljl sdfaoiefw d asd  asdfas
            a.btn.btn-default(href='#') View Details
